@import "../Widget/Button.scss";
@import '../Base//Mixins.scss';
.main {
  color: black;
  .simulateur-emprunt {
    background: rgba(255, 255, 255, 0.806);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    @include Anim();

    h1 {
      font-size: 24px;
      margin-bottom: 20px;
      text-align: center;
    }

    .select-container {
      margin-bottom: 15px;
    }

    select {
      cursor: pointer;
      margin-bottom: 15px;
      width: 100%;
      padding: 10px;
      font-size: 16px;
      border: 1px solid #ccc;
      border-radius: 5px;
    }

    p {
      font-size: 18px;
      margin-top: 20px;
    }
  }
}
